<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SurvivalOn</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Main
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="location">
                <span class="bi bi-geo-alt-fill-nav-menu" aria-hidden="true"></span> Location
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playerinfo">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Player Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="bi bi-backpack-fill-nav-menu" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stats">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> Stats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="log">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Log
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}